* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
}

h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 80px;
}

#container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

input[type="text"] {
    text-align: center;
}

#board-container {
    margin: 80px auto;
    width: 40%;
    background-color: #ecfbff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: stretch;
}

#controllers {
    text-align: center;
}

#result {
    margin-top: -30px;
    margin-bottom: 30px;
    font-size: 35px;
}

#restart {
    width: 80px;
    height: 50px;
 }

 .player {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin: 110px auto;
    text-align: center;
 }

.square {
    height: 160px;
    border: 3px solid cadetblue;
    font-size: 140px;
    text-align: center;
    cursor: pointer;
}

.disable {
    pointer-events: none;
}
